:root {
  --headerBackground-color: #000000;
  --text-color: #000000;
}

body {
  font-family: 'Funnel Display', sans-serif;
}

header {
  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--headerBackground-color);
  overflow: hidden;
  /*position: sticky;*/
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav > h1 {
  margin: 0;
}

#navbar-profile {
  color: #f8f8f8;
  font-size: 40px;
  text-decoration: none;
}

#navbar-container {
  display: flex;
  gap: 40px;
  flex: 1;
  justify-content: space-evenly;
}

.navbar-a {
  color: white;
  text-decoration: none;
}

#header-profile {
  color: var(--text-color);
  font-size: 40px;
  text-align: center;
  margin: 40px auto;
}

#link-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  margin-right: 100px;
  align-items: center;
  margin-bottom: 40px;
}

#link-container-inner {
  display: flex;
  gap: 40px;
  padding: 10px 20px;
  border-radius: 5px;
}

.link-container-a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

#profile-image {
  width: 550px;
  height: 650px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

#stack-border {
  border: 4px solid black;
  border-radius: 20px;
}

.stacks {
  font-size: 70px;
  text-align: center;
}

.intro-card {
  background-color: #f9f9f9;
  border-left: 5px solid #4a90e2;
  padding: 20px 25px;
  margin-top: 20px;
  border-radius: 8px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.intro-card p {
  margin: 0;
  color: #333;
  font-size: 1rem;
}
